Import Libraries

In [2]:
import pandas as pd # library for data analysis
from pandas import DataFrame
import requests # library to handle requests
from bs4 import BeautifulSoup # library to parse HTML documents
import numpy as np # library to handle data in a vectorized manner


import json # library to handle JSON files

!conda install -c conda-forge geopy --yes # uncomment this line if you haven't completed the Foursquare API lab
from geopy.geocoders import Nominatim # convert an address into latitude and longitude values


from pandas.io.json import json_normalize # tranform JSON file into a pandas dataframe

# Matplotlib and associated plotting modules
import matplotlib.cm as cm
import matplotlib.colors as colors

# import k-means from clustering stage
from sklearn.cluster import KMeans

#!conda install -c conda-forge folium=0.5.0 --yes # uncomment this line if you haven't completed the Foursquare API lab
import folium # map rendering library

print('Libraries imported.')

Collecting package metadata (current_repodata.json): done
Solving environment: done

# All requested packages already installed.

Libraries imported.

Retrive from Wikipedia

In [3]:
wikiurl="https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"
table_class="wikitable sortable jquery-tablesorter"
response=requests.get(wikiurl)
print(response.status_code)

200

In [4]:
# parse data from the html into a beautifulsoup object
soup = BeautifulSoup(response.text, 'html.parser')
indiatable=soup.find('table',{'class':"wikitable"})

In [5]:
df=pd.read_html(str(indiatable))
# convert list to dataframe
df=pd.DataFrame(df[0])
df.head()

  Postal Code           Borough              Neighbourhood
0         M1A      Not assigned               Not assigned
1         M2A      Not assigned               Not assigned
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

#Only process the cells that have an assigned borough. Ignore cells with a borough that is Not assigned.

In [6]:

Fillter = df['Borough'] !='Not assigned'
df1=df[Fillter]  
df1.head()

  Postal Code           Borough                                Neighbourhood
2         M3A        North York                                    Parkwoods
3         M4A        North York                             Victoria Village
4         M5A  Downtown Toronto                    Regent Park, Harbourfront
5         M6A        North York             Lawrence Manor, Lawrence Heights
6         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

Group Postal /Brought

In [7]:
df2=df1.groupby(['Postal Code','Borough'])['Neighbourhood'].apply(','.join).reset_index()

#If a cell has a borough but a Not assigned neighborhood, then the neighborhood will be the same as the borough.
#Clean your Notebook and add Markdown cells to explain your work and any assumptions you are making.
#In the last cell of your notebook, use the .shape method to print the number of rows of your dataframe.

In [9]:
#Transform Zip to new pandas
column=['Postal Code','Borough','Neighbourhood']
df3a=[]
df3a=pd.DataFrame(columns=column)
ran=df2.shape[0]
for i in range(ran) :
    post = df2.iloc[i][0]
    Borough = df2.iloc[i][1]
    Dummy = df2.iloc[i][2]
    if Dummy == ' ' or Dummy is None :
        Neigh=df2.iloc[i][1]
        print (Dummy)
    else:
        Neigh=df2.iloc[i][2]

    i=i+1    

    df3a=df3a.append({'Postal Code':post,'Borough':Borough,'Neighbourhood':Neigh},ignore_index=True)
df3a.head()

  Postal Code      Borough                           Neighbourhood
0         M1B  Scarborough                          Malvern, Rouge
1         M1C  Scarborough  Rouge Hill, Port Union, Highland Creek
2         M1E  Scarborough       Guildwood, Morningside, West Hill
3         M1G  Scarborough                                  Woburn
4         M1H  Scarborough                               Cedarbrae

In [10]:
df3a.shape

(103, 3)

In [12]:
# make sure shape of new dataframe is same
print('The dataframe has {} boroughs and {} neighborhoods.'.format(
        len(df3a['Borough'].unique()),
        df3a.shape[0]
    )
)

The dataframe has 10 boroughs and 103 neighborhoods.